#conteudo{
  width: 92%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center; 
}

.texto{
  font-size: 20px;
}
 
#principeUm{
  width: 270px;
  height: 270px;
  background-color: #e48062;
  border-radius: 10%;
}